
/*轮播图*/
section.carousel {
	position:relative;
	top: 18px;
	display: inline-block;
}
section.carousel img{
	width: 100%;
}
section.carousel .word {
	position: absolute;
	top: 30%;
	left:20px;
	width: 70%;
	left: 50%;
	margin-left: -35%;
	text-align: center;
}
section.carousel .word p {
	font-size: 2vw;
	color:#fff;
}
/*/轮播图*/
/*农产品追溯查询*/
section.zsSearch {
	height: 300px;
	background:#C39641;
	margin: 50px 0;
	border-radius: 4px;
	text-align: center;

}
section.zsSearch h1 {
	color:#fff;
	font-size: 2.5vw;
	padding:50px 0;
}
section.zsSearch input {
	width: 76%;
	height: 70px;
	border-radius:10px;
	display:inline-block;
	font-size: 22px;
}
section.zsSearch a {
	margin-left: 20px;
}
section.zsSearch button {
	height: 70px;
	width: 10%;
	border-radius: 10px;
	font-size: 2vw;
	padding: 0;
	margin-top: -5px;
}
/*/农产品追溯查询*/
/*banner_1*/
section.banner_1 {
	/*height: 300px;*/
	position: relative;
}
section.banner_1 ul.nav {
	border:0;
	text-align: center;
	visi
}
section.banner_1 ul.nav li {
	margin:0;
	width: 100px;
    height: 35px;
    cursor:pointer;
}
section.banner_1 ul li a {
	border:0;
	padding: 0;
	color:#898585;
	/*display:inline-block;*/
	width: 100%;
	height: 100%;
	line-height: 35px;
}
section.banner_1 .line {
	height:1px;
	background-color:#ED6942;
}
section.banner_1 .tab-content {
	padding: 20px 0;
}
section.banner_1 .tab-content .more {
	color: #F78384;
	padding-right: 10px;
	/*position: absolute;
	top: 90%;
	left: 90%;*/
}
section.banner_1 .tab-content img {
	border-radius: 10px;
	padding: 0;
	width: 130px;
	height: 110px;
}
section.banner_1 .tab-content #status img + img {
	display:none;
}
section.banner_1 .tab-content #business img + img {
	display:none;
}
section.banner_1 .tab-content .empty {
	height: 118px!important;
}
section.banner_1 .tab-content ul li {
	margin:8px 0;
	cursor:pointer;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background:#EA693F;
    border:0;
    border-radius: 7px 7px 0 0;
	color:#fff;
	font-size: 18px;
}
section.banner_1 ul li a:hover {
	background:#fff;

}
#news_status ul li {
	list-style: none;
}
/*/banner_1*/

/*banner_2*/
section.banner_22 {
	margin-top: 20px;
}
section.banner_2 .tsProduct {
	display:inline-block;
	padding: 5px 10px;
	font-size: 18px;
	background: #EA693F;
	border-radius: 7px 7px 0 0;
	color:#fff;
}
section.banner_2 .more {
	color: #F78384;
	font-size: 14px;
}
section.banner_2 .line {
	height:1px;
	background-color:#ED6942;
}
section.banner_2 .content {
	margin-top: 20px;
	position:relative;

}
section.banner_2 .content .img_Wraper {
	position:relative;
	width: 1015px;
	height: 184px;
	overflow: hidden;
	left:50%;
}
section.banner_2 .content ul {
	width: 3000px;
	position:absolute;
	padding: 0;
	// margin: 0 50px;
	top: 0;
	// left: -1035px;
	left: 0;
}

section.banner_2 .content ul li {
	float: left;
	margin-right: 20px;
	overflow:hidden;
	position:relative;
}
section.banner_2 .content ul li img {
	border-radius: 7px;
}
section.banner_2 .content .img_Wraper ul li div {
	height: 44px;
	background: rgba(0,0,0,0.5);
	position:absolute;
	top: 140px;
	width: 100%;
	color: #fff;
	padding: 15px;
	border-radius: 0 0 7px 7px;
	font-size: 16px;
}
section.banner_22 .content .img_Wraper ul li div {
		height:44px;
		/*transition: top 1s;*/
}
/*section.banner_22 .content .img_Wraper ul li div:hover {
	top:110px;
}*/

section.banner_2 .content .img_Wraper ul li div p:nth-of-type(2) {
	font-size: 12px;
}
section.banner_2 .content .prev_lt, section.banner_2 .content .next_gt {
	font-size: 50px;
	color: #918E8E;
	padding: 0;
	position: absolute;
}
section.banner_2 .content .prev_lt {
	top: 29%;
	cursor: pointer;
}
section.banner_2 .content .next_gt {
	top: 29%;
	right:0;
	cursor: pointer;
}
@media screen and (min-width:1201px) {
	section.banner_2 .content .img_Wraper {
		margin-left: -508px;
	}
}
@media screen and (min-width:992px) and (max-width:1200px) {
	section.banner_2 .content .img_Wraper {
		width: 690px;
		margin-left: -345px;
	}
}
@media screen and (min-width:284px) and (max-width:991px) {
	section.banner_2 .content .img_Wraper {
		width: 345px;
		margin-left: -173px;
	}
}
/*/banner_2*/
/*banner_3*/
section.banner_3 .sys {
	height: 120px;
	background:#F5F5F5;
	margin:  50px 0;
	text-align: center;
}
section.banner_3 .sys .wrap_b3 {
	margin: 0 50px;
	line-height: 120px;
}
section.banner_3 .sys .wrap_b3 p {
	font-size: 20px;
}
/*/banner_3*/
/*banner_4*/
section.banner_4 {
	margin: 50px 0;
}
section.banner_4 .nj_course {
	display:inline-block;
	padding: 5px 10px;
	font-size: 18px;
	background: #EA693F;
	color:#fff;
	border-radius: 7px 7px 0 0;
}
section.banner_4 .line {
	height:1px;
	background-color:#ED6942;
}
section.banner_4 .content {
	margin-top: 20px;
	position:relative;

}
section.banner_4 .content ul {
	padding: 0;
}
section.banner_4 .content ul li a {
	color:#000;
}
section.banner_4 .content ul li img {
	padding: 0;
}
section.banner_4 .content ul li .word_wraper {
	background:#F5F5F5;
	padding: 0 10px 10px 10px;
	margin-bottom: 10px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
section.banner_4 .content ul li span {
	display:inline-block;
	margin: 12px 0;
	font-size: 1vw;
}
section.banner_4 .more {
	color: #F78384;
	font-size: 14px;
}
section.banner_4 .content ul li p {
	margin: 0 0 12px 0;
	color:#A5A5A5;
	font-size: 13px;
}
/*/banner_4*/
/*banner_5*/
section.banner_5 {
	margin: 50px 0;
}
section.banner_5 .c_message {
	display:inline-block;
	padding: 5px 10px;
	font-size: 18px;
	background: #EA693F;
	color:#fff;
	border-radius: 7px 7px 0 0;
}
section.banner_5 .line {
	height:1px;
	background-color:#ED6942;
}
section.banner_5 .content {
	margin-top: 20px;
	position:relative;
	text-align: center;

}
section.banner_5 .content .canvasDraw .tj_yuan ul {
	padding: 0 20px;
	border: 1px solid #EAEAEA;
	margin-top: 20px;
}
section.banner_5 .content .canvasDraw .tj_yuan ul li {
	float: left;
	display: inline-block!important;
	margin: 20px 0 20px 30px;
}
section.banner_5 .content .canvasDraw .tj_yuan ul li p {
	font-size: 20px;
}
section.banner_5 .content .map_wrapper {
	height: 30vw;
}
/*/banner_5*/
/*banner_6*/
section.banner_6 {
	margin: 50px 0;
}
section.banner_6 .p_introduce {
	display:inline-block;
	padding: 5px 10px;
	font-size: 18px;
	background: #EA693F;
	color:#fff;
	border-radius: 7px 7px 0 0;
}
section.banner_6 .line {
	height:1px;
	background-color:#ED6942;
}
section.banner_6 .content {
	margin-top: 20px;
	position:relative;
	text-align: center;

}
/*/banner_6*/
/*百度地图图标*/
.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}

/*/百度地图图标*/
/*bootstrap源码*/
.btn-suyuan {
  color: #fff;
  background: #452413;
  border-color: #452413;
}
.btn-suyuan:focus,
.btn-suyuan.focus {
  color: #fff;
  background: #452413;
  border-color: #452413;
}
.btn-suyuan:hover {
  color: #fff;
  background: #452413;
  border-color: #452413;
}
.btn-suyuan:active,
.btn-suyuan.active,
.open > .dropdown-toggle.btn-suyuan {
  color: #fff;
  background: #452413;
  border-color: #452413;
}
.btn-suyuan:active:hover,
.btn-suyuan.active:hover,
.open > .dropdown-toggle.btn-suyuan:hover,
.btn-suyuan:active:focus,
.btn-suyuan.active:focus,
.open > .dropdown-toggle.btn-suyuan:focus,
.btn-suyuan:active.focus,
.btn-suyuan.active.focus,
.open > .dropdown-toggle.btn-suyuan.focus {
  color: #fff;
  background-color: #452413;
  border-color: #452413;
}
.btn-suyuan:active,
.btn-suyuan.active,
.open > .dropdown-toggle.btn-suyuan {
  background-image: none;
}
.btn-suyuan.disabled:hover,
.btn-suyuan[disabled]:hover,
fieldset[disabled] .btn-suyuan:hover,
.btn-suyuan.disabled:focus,
.btn-suyuan[disabled]:focus,
fieldset[disabled] .btn-suyuan:focus,
.btn-suyuan.disabled.focus,
.btn-suyuan[disabled].focus,
fieldset[disabled] .btn-suyuan.focus {
  background-color: #452413;
  border-color: #452413;
}
.btn-suyuan .badge {
  color: #337ab7;
  background-color: #452413;
}
/*/bootstrap源码*/