/*news_status*/
.news_status .top_img {
	position: relative;
}
.news_status .top_img p {
	position: absolute;
	top: 40%;
	left: 20%;
	font-size: 1vw;
	color: #fff;
}
.news_status .top_img img {
  width: 100%;
}
.news_status .news_status_content {
	margin-top: 40px;
}
/*/news_status*/
/*bootstrap源码*/
.panel-suyuan {
  border:none;
  background: #F4FFFB;
}
.panel-suyuan > .panel-heading {
  color: #333;
  border-bottom: 1px dashed #ddd;
  height: 50px;
  line-height: 29px;
}
.panel > .list-group,
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
  background: none;
  color: #AFAFAF;

}
.panel > .list-group .list-group-item:last-child {
	margin-bottom: 200px;
	text-align: center;
}
.panel > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
/*/bootstrap源码*/