<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>特色产品详情</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/pagination.css"> -->
    <link rel="stylesheet" type="text/css" href="css/husbandry.css">
</head>

<body>
    <!-- 导航栏  -->
    <section class="navBar hidden-xs">
        <div class="col-md-8 col-sm-12">
            <p class="nav_p1"><a href="./index.html">延津县电子商务平台</a></p>
            <p class="nav_p2"><a href="./index.html">Yanjin County E-commerce Platform</a></p>
        </div>
        <div class="col-md-4 col-sm-12 search">
            <form id="searchForm" action="#">
                <input id="oInput" type="text" name="keyword">
                <!-- <span>新闻动态</span> -->
                <ul id="main">
                    <li>特色产品</li>
                </ul>
                <ul id="drop" class="drop">
                    <li>新闻动态</li>
                    <li>特色产品</li>
                    <li>企业展示</li>
                    <li>农家课堂</li>
                </ul>
                <i class="glyphicon glyphicon-triangle-bottom
                glyphicon glyphicon-"></i>
                <button type="submit" id="search">搜索</button>
            </form>
        </div>
    </section>
    <!-- /导航栏  -->
    <!-- 版心 -->
    <section class="husbandry" id="husbandry">
        <div class="top_img">
            <img src="images/news.jpg" alt="">
            <p id="top_img_wrapper"><a href="index.html">溯源详情</a> >
                <script id="category_templ" type="text/html">
                    {{if data != 0}} {{if data.product_cate_id==2}}
                    <span id="title">畜牧业详情</span> {{else if data.product_cate_id==1}}
                    <span id="title">种植业详情</span> {{/if}} {{/if}}
                </script>
            </p>
        </div>
        <div class="husbandry_content">
            <div class="container">
                <div class="tabBar" id="tabBar">
                    <div class="loader">
                        <div class="loader-inner line-scale">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /版心 -->
    <!-- 底部 -->
    <section class="footer">
        <div class="col-md-4 col-sm-3 col-xs-6 f1">溯源</div>
        <div class="col-md-4 col-sm-6 col-xs-6 hidden-xs f2">
            <ul class="col-md-12 col-sm-12">
                <li>产品溯源</li>
                <li>舆情监测</li>
                <li>优秀产品</li>
                <li>移动助手</li>
                <li>用户指南</li>
            </ul>
            <div class="">
                <div class="col-md-3 col-sm-3 col-xs-2 f2_1">滇ICP备</div>
                <div class="col-md-4 col-sm-4 col-xs-5 f2_2">号 | 滇公网安备</div>
                <div class="col-md-3 col-sm-3 col-xs-3 f2_3">号 | 滇ICP证</div>
                <div class="col-md-1 col-sm-1 col-xs-1 f2_4">号</div>
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-6 f3">Copyright © 2017</div>
    </section>
    <!-- /底部 -->
</body>

</html>
<script id="test" type="text/html">
    {{if data}} {{if data.product_cate_id==2}}
    <div class="tabBar_top">
        <h3>{{data.name}}</h3>
    </div>
    <ul class="pull-left ul_m_wrapper" id="ul_m_wrapper">
        <li class="active">基本信息</li>
        <li>建档管理</li>
        <li>饲料管理</li>
        <li>防疫管理</li>
        <li>加工管理</li>
        <li>质量检测管理</li>
        <li>质量认证管理</li>
    </ul>
    <div class="content">
        <div class="content_son">
            {{if data.name}}
            <p>产品名称: <span>{{data.name}}</span></p>
            {{/if}} {{if data.batch}}
            <p>生产批次: <span>{{data.batch}}</span></p>
            {{/if}} {{if data.introduce}}
            <!-- <p>产品简介: <span>{{data.introduce}}</span></p> -->
            {{/if}} {{if data.pro_img}}
            <p class="checkData">产品图片: <span> <img width="150px" src="{{data.pro_img}}"></span></p>
            {{/if}}
        </div>
        <div class="content_son">
            {{if data.jiandang_man}}
            <p>管理人员: <span>{{data.jiandang_man}}</span></p>
            {{/if}} {{if data.birt}}
            <p>出生日期: <span>{{data.birt}}</span></p>
            {{/if}} {{if data.birinfo}}
            <p>出生记录: <span>{{data.birinfo}}</span></p>
            {{/if}} {{if data.breed}}
            <p>品种类型: <span>{{data.breed}}</span></p>
            {{/if}} {{if data.sex}}
            <p>性别: <span>{{data.sex}}</span></p>
            {{/if}} {{if data.age >= 0}}
            <p>年龄: <span>{{data.age}}</span></p>
            {{/if}} {{if data.jiandang_img}}
            <p class="checkData"> <img width="150px" src="{{data.jiandang_img}}"></p>
            {{/if}}
        </div>
        <div class="content_son">
            {{if data.fodder == '自制饲料'}} {{if data.fodder_man}}
            <p>管理人员: <span>{{data.fodder_man}}</span></p>
            {{/if}} {{if data.fodder}}
            <p>饲料类型: <span>{{data.fodder}}</span></p>
            {{/if}} {{if data.fodder_make_method}}
            <p>制作方法: <span>{{data.fodder_make_method}}</span></p>
            {{/if}} {{if data.fodder_contain}}
            <p>饲料成份: <span>{{data.fodder_contain}}</span></p>
            {{/if}} {{if data.fodder_spec}}
            <p>饲料特性: <span>{{data.fodder_spec}}</span></p>
            {{/if}} {{if data.fodder_img}}
            <p class="checkData"> <img width="150px" src="{{data.fodder_img}}"></p>
            {{/if}} {{else if data.fodder == '普通饲料'}} {{if data.fodder_man}}
            <p>管理人员: <span>{{data.fodder_man}}</span></p>
            {{/if}} {{if data.fodder}}
            <p>饲料类型: <span>{{data.fodder}}</span></p>
            {{/if}} {{if data.fodder_name}}
            <p>饲料名称: <span>{{data.fodder_name}}</span></p>
            {{/if}} {{if data.fodder_producter}}
            <p>生产厂家: <span>{{data.fodder_producter}}</span></p>
            {{/if}} {{if data.fodder_pro_num}}
            <p>批准文号: <span>{{data.fodder_pro_num}}</span></p>
            {{/if}} {{if data.fodder_img}}
            <p class="checkData"> <img width="150px" src="{{data.fodder_img}}"></p>
            {{/if}} {{/if}}
        </div>
        <div class="content_son">
        {{if data.aiti_man}}
            <p>管理人员: <span>{{data.aiti_man}}</span></p>
        {{/if}}
        {{if data.sampling}}
            <p>采样日期: <span>{{data.sampling}}</span></p>
        {{/if}}
        {{if data.ring_num}}
            <p>圈舍号: <span>{{data.ring_num}}</span></p>
        {{/if}}
        {{if data.aiti_verify_unit}}
            <p>检测单位: <span>{{data.aiti_verify_unit}}</span></p>
        {{/if}}
        {{if data.aiti_verify_result}}
            <p>检测结果: <span>{{data.aiti_verify_result}}</span></p>
        {{/if}}
            {{if data.aiti_img}}
            <p class="checkData"> <img width="150px" src="{{data.aiti_img}}"></p>
            {{/if}}
        </div>
        <div class="content_son make_progress">
            {{if data.make_man}}
            <p class="no_margin">管理人员: <span>{{data.make_man}}</span></p>
            {{/if}} {{if data.make_process}}
            <p class="no_margin">加工过程: <span>{{#data.make_process}}</span></p>
            {{/if}} {{if data.make_room}}
            <p class="no_margin">加工车间: <span>{{data.make_room}}</span></p>
            {{/if}} {{if data.product_bag}}
            <p class="checkData no_margin">产品包装: <span><img width="150px" src="{{data.product_bag}}"></span></p>
            {{/if}}
        </div>
        <div class="content_son">
            {{if data.check_man}}
            <p>管理人员: <span>{{data.check_man}}</span></p>
            {{/if}} {{if data.check_name}}
            <p>检验名字: <span>{{data.check_name}}</span></p>
            {{/if}} {{if data.check_unit}}
            <p>检验单位: <span>{{data.check_unit}}</span></p>
            {{/if}} {{if data.check_img}}
            <p class="checkData">检验数据: <span><img width="150px" src="{{data.check_img}}"></span></p>
            {{/if}}
        </div>
        <div class="content_son">
            {{if data.verify_man}}
            <p>管理人员: <span>{{data.verify_man}}</span></p>
            {{/if}} {{if data.verify_num}}
            <p>认证编号: <span>{{data.verify_num}}</span></p>
            {{/if}} {{if data.verify_time}}
            <p>认证日期: <span>{{data.verify_time}}</span></p>
            {{/if}} {{if data.verify_long}}
            <p>认证期限: <span>{{data.verify_long}}</span></p>
            {{/if}} {{if data.verify_unit}}
            <p>认证机构: <span>{{data.verify_unit}}</span></p>
            {{/if}} {{if data.verify_img}}
            <p class="checkData"> <img width="150px" src="{{data.verify_img}}"></p>
            {{/if}}
        </div>
    </div>
    {{else if data.product_cate_id==1}}
    <div class="tabBar_top">
        <h3>{{data.name}}</h3>
    </div>
    <ul class="pull-left ul_m_wrapper" id="ul_m_wrapper">
        <li class="active">基本信息</li>
        <li>育苗管理</li>
        <li>基地管理</li>
        <li>肥料管理</li>
        <li>农药管理</li>
        <li>加工管理</li>
        <li>质量检测管理</li>
        <li>质量认证管理</li>
    </ul>
    <div class="content">
        <div class="content_son">
            {{if data.name}}
            <p>产品名称: <span>{{data.name}}</span></p>
            {{/if}} {{if data.batch}}
            <p>生产批次: <span>{{data.batch}}</span></p>
            {{/if}} {{if data.introduce}}
           <!--  <p>产品简介: <span>{{data.introduce}}</span></p> -->
            {{/if}} {{if data.pro_img}}
            <p class="checkData">产品图片: <span> <img width="150px" src="{{data.pro_img}}"></span></p>
            {{/if}}
        </div>
        <div class="content_son">
            {{if data.yumiaoren}}
            <p>管理人员: <span>{{data.yumiaoren}}</span></p>
            {{/if}} {{if data.breed}}
            <p>品种: <span>{{data.breed}}</span></p>
            {{/if}} {{if data.addr}}
            <p>产地: <span>{{data.addr}}</span></p>
            {{/if}} {{if data.birt}}
            <p>种植日期: <span>{{data.birt}}</span></p>
            {{/if}} {{if data.yumiao_img}}
            <p class="checkData"> <img width="150px" src="{{data.yumiao_img}}"></p>
            {{/if}}
        </div>
        <div class="content_son">
            {{if data.baseman}}
            <p>管理人员: <span>{{data.baseman}}</span></p>
            {{/if}} {{if data.base_name}}
            <p>基地名称: <span>{{data.base_name}}</span></p>
            {{/if}} {{if data.manage_style}}
            <p>管理形式: <span>{{data.manage_style}}</span></p>
            {{/if}} {{if data.area}}
            <p>面积: <span>{{data.area}}</span></p>
            {{/if}} {{if data.soil}}
            <p>土壤: <span>{{data.soil}}</span></p>
            {{/if}} {{if data.water}}
            <p>水质: <span>{{data.water}}</span></p>
            {{/if}} {{if data.base_img}}
            <p class="checkData"> <img width="150px" src="{{data.base_img}}"></p>
            {{/if}}
        </div>
        <div class="content_son">
            {{if data.manure}} {{if data.manure==1}} {{if data.manure_man}}
            <p>管理人员: <span>{{data.manure_man}}</span></p>
            {{/if}}
            <p>肥料类型: <span>化学化肥</span></p>
            {{if data.manure_type}} {{if data.manure_type==1}}
            <p>化肥类型: <span>单质</span></p>
            {{else if data.manure_type==2}}
            <p>化肥类型: <span>复合</span></p>
            {{else if data.manure_type==3}}
            <p>化肥类型: <span>生物</span></p>
            {{/if}} {{/if}} {{if data.manure_type2}} {{if data.manure_type2==1}}
            <p>化肥剂型: <span>速效</span></p>
            {{else if data.manure_type2==2}}
            <p>化肥剂型: <span>缓效</span></p>
            {{else if data.manure_type2==3}}
            <p>化肥剂型: <span>缓释</span></p>
            {{/if}} {{/if}} {{if data.manure_verify}}
            <p>生产许可证: <span>{{data.manure_verify}}</span></p>
            {{/if}} {{if data.manure_time}}
            <p>生产日期: <span>{{data.manure_time}}</span></p>
            {{/if}} {{if data.manure_img}}
            <p class="checkData"> <img width="150px" src="{{data.manure_img}}"></p>
            {{/if}} {{else if data.manure==2}} {{if data.manure_man}}
            <p>管理人员: <span>{{data.manure_man}}</span></p>
            {{/if}}
            <p>肥料类型: <span>农家肥</span></p>
            {{if data.manure_method}}
            <p>制作方法: <span>{{data.manure_method}}</span></p>
            {{/if}} {{if data.manure_element}}
            <p>成份: <span>{{data.manure_element}}</span></p>
            {{/if}} {{if data.manure_spe}}
            <p>特征: <span>{{data.manure_spe}}</span></p>
            {{/if}} {{if data.manure_img}}
            <p class="checkData"> <img width="150px" src="{{data.manure_img}}"></p>
            {{/if}} {{/if}} {{/if}}
        </div>
        <div class="content_son">
            {{if data.chem_man}}
            <p>管理人员: <span>{{data.chem_man}}</span></p>
            {{/if}} {{if data.chemical_name}}
            <p>农药名称: <span>{{#data.chemical_name}}</span></p>
            {{/if}} {{if data.chemical_obj}}
            <p>防治对象: <span>{{data.chemical_obj}}</span></p>
            {{/if}} {{if data.chem_use_dose}}
            <p>用药剂量:<span>{{data.chem_use_dose}}</span> </p>
            {{/if}} {{if data.chem_use_area}}
            <p>用药面积:<span>{{data.chem_use_area}}</span> </p>
            {{/if}} {{if data.chem_type}} {{if data.chem_type==1}}
            <p>农药类型: <span>杀虫剂</span></p>
            {{else if data.chem_type==2}}
            <p>农药类型: <span>杀菌剂</span></p>
            {{else if data.chem_type==3}}
            <p>农药类型: <span>杀螨剂</span></p>
            {{else if data.chem_type==4}}
            <p>农药类型: <span>除草剂</span></p>
            {{else if data.chem_type==5}}
            <p>农药类型: <span>杀线虫剂</span></p>
            {{else if data.chem_type==6}}
            <p>农药类型: <span>杀鼠剂</span></p>
            {{else if data.chem_type==7}}
            <p>农药类型: <span>植物增长调节剂</span></p>
            {{/if}} {{/if}} {{if data.chem_water_type}} {{if data.chem_water_type==1}}
            <p>农药剂型: <span>乳油</span></p>
            {{else if data.chem_water_type==2}}
            <p>农药剂型: <span>粉剂</span></p>
            {{else if data.chem_water_type==3}}
            <p>农药剂型: <span>可湿性粉剂</span></p>
            {{else if data.chem_water_type==4}}
            <p>农药剂型: <span>颗粒剂</span></p>
            {{else if data.chem_water_type==5}}
            <p>农药剂型: <span>悬浮剂</span></p>
            {{else if data.chem_water_type==6}}
            <p>农药剂型: <span>烟剂</span></p>
            {{else if data.chem_water_type==7}}
            <p>农药剂型: <span>水分散剂</span></p>
            {{else if data.chem_water_type==8}}
            <p>农药剂型: <span>缓蚀剂</span></p>
            {{else if data.chem_water_type==9}}
            <p>农药剂型: <span>水剂</span></p>
            {{else if data.chem_water_type==10}}
            <p>农药剂型: <span>水溶剂</span></p>
            {{else if data.chem_water_type==11}}
            <p>农药剂型: <span>其他</span></p>
            {{/if}} {{/if}} {{if data.chem_verify}}
            <p>生产许可证: <span>{{data.chem_verify}}</span></p>
            {{/if}} {{if data.chem_time}}
            <p>生产日期: <span>{{data.chem_time}}</span></p>
            {{/if}} {{if data.chem_img}}
            <p class="checkData"> <img width="150px" src="{{data.chem_img}}"></p>
            {{/if}}
        </div>
        <div class="content_son make_progress">
            {{if data.make_man}}
            <p class="no_margin">管理人员: <span>{{data.make_man}}</span></p>
            {{/if}} {{if data.make_room}}
            <p class="no_margin">加工车间: <span>{{data.make_room}}</span></p>
            {{/if}} {{if data.make_process}}
            <p class="no_margin">加工过程: <span>{{#data.make_process}}</span></p>
            {{/if}} {{if data.product_bag}}
            <p class=" checkData no_margin">产品包装: <span><img width="150px" src="{{data.product_bag}}"></span></p>
            {{/if}}
          

        </div>
        <div class="content_son">
            {{if data.check_man}}
            <p>管理人员: <span>{{data.check_man}}</span></p>
            {{/if}} {{if data.check_name}}
            <p>检验名字: <span>{{data.check_name}}</span></p>
            {{/if}} {{if data.check_unit}}
            <p>检验单位: <span>{{data.check_unit}}</span></p>
            {{/if}} {{if data.check_img}}
            <p class="checkData">检验数据: <span><img width="150px" src="{{data.check_img}}"></span></p>
            {{/if}}
            
        </div>
        <div class="content_son">
            {{if data.verify_man}}
            <p>管理人员: <span>{{data.verify_man}}</span></p>
            {{/if}} {{if data.verify_num}}
            <p>认证编号: <span>{{data.verify_num}}</span></p>
            {{/if}} {{if data.verify_time}}
            <p>认证日期: <span>{{data.verify_time}}</span></p>
            {{/if}} {{if data.verify_long}}
            <p>认证期限: <span>{{data.verify_long}}</span></p>
            {{/if}} {{if data.verify_unit}}
            <p>认证机构: <span>{{data.verify_unit}}</span></p>
            {{/if}} {{if data.verify_img}}
            <p class="checkData"> <img width="150px" src="{{data.verify_img}}"></p>
            {{/if}}
        </div>
    </div>
    {{/if}} {{else}}
    <div class="errorMsg">
        {{msg}}
    </div>
    </div>
    {{/if}}
</script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- <script src="node_modules/vue/dist/vue.min.js"></script> -->
<!-- <script src="node_modules/axios/dist/axios.min.js"></script> -->
<!-- <script src="node_modules/template_js/template.js"></script> -->
<script src="js/template.js"></script>
<!-- <script src="js/jquery.pagination.js"></script>
<script src="js/pagination.js"></script> -->
<!-- <script src="js/husbandry.js"></script> -->
<script src="js/nav.js"></script>
<script src="js/search.js" charset=utf-8></script>
<script src="js/style.js"></script>
<script>
</script>
<script>
$(function() {
    var id = window.location.search.split("=")[1];
    $.ajax({
        url: URL + '/index/products/shows/product_id/' + id,
        type: 'get',
        dataType: 'json',
        async: false,
        success: function(msg) {
            if (msg) {
                var sex = msg.sex;
                var fodder = msg.fodder;
                if (sex == 1) {
                    msg.sex = '雄性';
                } else {
                    msg.sex = '雌性';
                }
                if (fodder == 1) {
                    msg.fodder = '自制饲料';
                } else {
                    msg.fodder = '普通饲料';
                }
            }
            var data = {
                data: msg
            }
            var html = template('test', data);

            $("#tabBar").html(html);
            var html = template('category_templ', data);

            $("#top_img_wrapper").html(html);
            // 内容为空 li选项隐藏
            for (var i = 0; i < $('.content_son').length; i++) {
                if($('.content_son').eq(i).children('p').length==0){
                    $('.ul_m_wrapper li').eq(i).css({'display':'none'});
                }
            }
            // 排他思想 横向tab选项卡
            $("#ul_m_wrapper").on("click", 'li', function() {
                var index = $(this).index();
                $("#ul_m_wrapper > li").removeClass('active');
                $(this).addClass("active");
                $(".content_son").css({ 'display': 'none' });
                $(".content_son").eq(index).css({ 'display': 'block' });
            })
            $(".checkData img").on('click', function(e) {
                $(".checkData img").css({ 'width': '150px' });
                $(this).css({ 'width': '500px' });
                e.stopPropagation();
                e.returnValue = false;
            })
            $(document).on('click', function(e) {
                $(".checkData img").css({ 'width': '150px' });
                e.stopPropagation();
                e.returnValue = false;
            })

            //省略多余字体
            // function limit(ele, num) {
            //     for (var i = 0; i < ele.length; i++) {
            //         if (ele.eq(i).html().length > num) {
            //             var content = ele.eq(i).html().substring(0, num - 1);
            //             ele.eq(i).html(content + '...');
            //         }
            //     }
            // }

            // limit($(".courseTitle"), 13);
            // limit($(".enterprise_intro"), 23);
            // limit($(".njDescription"), 18);
        },
        error: function(xhr) {

            console.log(xhr)
        }
    })
})
</script>